<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Detail from Incomes and Egress</h4>

        <table class="table">
          <thead>
            <tr>
              <th>Description</th>
              <th>Amount</th>
              <th>Type</th>
              <th>Options</th>
            </tr>
          </thead>

          <tbody>
            <tr *ngFor="let ie of incomeEgress | orderIncome">
              <td>{{ie.description}}</td>
              <td>{{ie.amount | currency}}</td>
              <td >

                <span 
                  class="badge" 
                  [ngClass]="{'badge-danger': ie.type == 'egress', 'badge-success' : ie.type == 'income'}">
                  {{ie.type}}
                </span>


                
              </td>
              <td>
                <button 
                  type="button" 
                  (click)="delete(ie.uid || '')"
                  class="btn btn-danger btn-sm">
                  <i class="fa fa-trash"></i>
                  Delete
                </button>
              </td>
            </tr>
          </tbody>

        </table>


      </div>
    </div>
  </div>
</div>
  